:root {
    --primary-bg-color: #234152;
    --text-color: #e6e6e6;
    --link-color: hsl(0, 0%, 90%);
    --header-bg-color: #000000;
    --nav-bg-color: #000000;
    --link-clicked-color: #287d9e;
    --nav-width: 239px; /* icon width */
    --bannar-width: 970px;
    --header-vertical-padding: 15px;
    --nav-item-spacing: 12px;
}

html, body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
    /* text-decoration: none; */
    color: var(--link-color);
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--header-bg-color);
}

header a {

    text-decoration: none;
}

.ascii-banner {
    margin: 8px;
    margin-left: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    word-break: break-all; /* Allow banner to wrap if needed */
}

.container {
    display: flex; /* Flex container for nav and main */
    height: 100%;
}

.container p {
    margin-top: 15px;
}

nav {
    width: var(--nav-width);
    background-color: var(--nav-bg-color);
    /* flex-grow: 0;*/
    flex-shrink: 0;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

nav ul li {
    font-size: larger;
    text-align: left;
    padding-bottom: var(--nav-item-spacing);
}

nav a {
    padding: 5px;
    text-decoration: none;
}

nav a:active {
    color: var(--link-clicked-color);
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 20px;
}

.content {
    padding: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.link-list {
    padding-left: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* list-style: none; */
}

.projects-list {
    padding-left: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.link-list li { /* for link or other element lists, so they arent so cluttered */
    /* margin-top: 15px; */
    margin-bottom: 15px;
    padding-bottom: 5px;

}

@media (max-width: 800px) { /* Switch to vertical layout for better mobile/vertical monitor support */

    .container {
        flex-direction: column; /* Stack navigation and content vertically */
        /* height: calc(100% - 100px); */
    }

    header {
        flex-direction: column;
        text-align: center;
        position: relative;
        height: fit-content;
        padding-bottom: var(--header-vertical-padding);
    }

    header img {
        /* flex-grow: 1; */
        width: 100%;
    }

    .ascii-banner {
        font-size: 5.5px;
    }

    nav {
        width: 100%; /* Full width on small screens */
        padding-bottom: var(--header-vertical-padding);
    }

    nav ul {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    nav ul li {
        text-align: center;
        padding-bottom: var(--nav-item-spacing);
    }
}